
/* Elementos nav */
.nav-wrapper{
    background-color: cornflowerblue;
}
#dpdConsulta a{
    color: cornflowerblue;
}

/* Elementos header */
.home-page-header__logo{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: inherit;
    align-items: inherit;

}
.home-page-header__heading{
    display: inline-block;
    position: absolute;
    background-color: rgba(149, 149, 224, 0.582);
    color:#fff;
    text-align: center;
    top: 135px;
    width: 500px;    ;
    height: 200px;
    margin: 20px; 
    border-radius: 5%;

}

/* body */
body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
}

footer {
    margin-left: 5px;
    margin-right: 5px;
    flex: 0 1 100%;
    grid-column: 1 / -1;
  }

  /* dsdsdsd */
  .panelA {
        grid-column: col / span 2;
        grid-row: row;
        background-color: slateblue;
  }